/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

.columns {
  min-height: 100px;
}

/* End for testing */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.content-main {
  background-image: url(../img/content-main.jpg);
  height: 40vh;
  background-position: center;
  background-size: cover;
}


.content1 {
  height: 15vh;
  background-image: url(../img/content-1.jpg);
  background-position: center;
  background-size: cover;
}

.text-box {
  display: inline-block;
  float: right;
  height: 100%;
  width: 50%;
  padding: 12px 16px 12px 16px;
  background-color: rgb(13, 71, 161);
  position: static;
}

.primary-text {
  color: white;
  line-height: 22.4px;
  float: right;
  margin-bottom: 4px;
}

.secondary-text {
  color: white;
  font-size: 14px;
}

.content2 {
  height: 15vh;
  background-image: url(../img/content-2.jpg);
  background-position: center;
  background-size: cover;
}

.text-box2 {
  display: inline-block;
  float: right;
  height: 100%;
  width: 50%;
  padding: 12px 16px 12px 16px;
  background-color: rgb(0, 150, 136);
  position: static;
}
