/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

.columns {
  min-height: 100px;
}

/* End for testing */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.content-main {
  background-image: url(../img/content-main.jpg);
  height: 40vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-box-main {
  background-color: rgb(38, 50, 56);
  position: absolute;
  left: 32px;
  bottom: 32px;
  right: 16px;
  min-height: 208px;
  padding: 0px 32px 0px 32px;
  width: auto;
  height: 10%;
  box-sizing: content-box;
  font-size: 16px;
  text-size-adjust: 100%;
  display: block;
}

.main-text {
  color: white;
}

.content1 {
  height: 15vh;
  background-image: url(../img/content-1.jpg);
  background-position: center;
  background-size: cover;
}

.text-box1 {
  display: inline-block;
  float: right;
  height: 100%;
  width: 50%;
  padding: 12px 16px 12px 16px;
  background-color: rgb(13, 71, 161);
  position: static;
}

.primary-text {
  color: white;
  line-height: 22.4px;
  /*float: right;*/
  margin-bottom: 4px;
}

.secondary-text {
  color: white;
  font-size: 14px;
}

.secondary-text.description {
  color: white;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-margin-before: 17.5px;
}

.content2 {
  height: 15vh;
  background-image: url(../img/content-2.jpg);
  background-position: center;
  background-size: cover;
}

.text-box2 {
  display: inline-block;
  float: right;
  height: 100%;
  width: 50%;
  padding: 12px 16px 12px 16px;
  background-color: rgb(0, 150, 136);
  position: static;
}


@media only screen and (min-width: 650px) {
  .content1 {
    float: left;
    width: 50vw;
    height: 30vh;
    position: relative;
  }

  .text-box1, .text-box2 {
    height: 40%;
    position: absolute;
    top: 100%;
    /*transform: translate(0, 50%);*/
    width: 100%;
  }

  .content2 {
    float: right;
    width: 50vw;
    height: 30vh;
    position: relative;
  }


  .text-box-main {
    width: 15em;
  }
}
