/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: white;
}

.columns {
  min-height: 100px;
}

/* End for testing */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar {
  position: relative;
}

.burger {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  height: 20px;
}

.logo{
  height: 28px;
  position: absolute;
  top: 50%;
  left: 3em;
}

.navlinks {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  font-size: 16px;
  color: rgb(97, 97, 97);
}

.content-main {
  background-image: url(../img/content-main.jpg);
  height: 40vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-box-main {
  background-color: rgb(38, 50, 56);
  position: absolute;
  left: 32px;
  bottom: 32px;
  right: 16px;
  min-height: 208px;
  padding: 0px 32px 0px 32px;
  width: auto;
  height: 10%;
  box-sizing: content-box;
  font-size: 16px;
  text-size-adjust: 100%;
  display: block;
}

.main-text {
  color: white;
}

.content1 {
  height: 15vh;
  background-image: url(../img/content-1.jpg);
  background-position: center;
  background-size: cover;
}

.text-box1 {
  display: inline-block;
  float: right;
  height: 100%;
  width: 50%;
  padding: 5px 16px 12px 16px;
  background-color: rgb(13, 71, 161);
}

.primary-text {
  color: white;
  line-height: 22.4px;
  margin-bottom: 4px;
}

.secondary-text {
  color: white;
  font-size: 14px;
}

.secondary-text.description {
  color: white;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-margin-before: 17.5px;
}

.content2 {
  height: 15vh;
  background-image: url(../img/content-2.jpg);
  background-position: center;
  background-size: cover;
}

.text-box2 {
  display: inline-block;
  float: right;
  height: 100%;
  width: 50%;
  padding: 5px 16px 12px 16px;
  background-color: rgb(0, 150, 136);
}


@media only screen and (min-width: 750px) {
  .content-main {
    height: 50vh;
  }

  .content1 {
    float: left;
    width: 50vw;
    height: 25vh;
    position: relative;
    text-size-adjust: 100%;
  }

  .text-box1, .text-box2 {
    height: 33%;
    position: absolute;
    top: 100%;
    /*transform: translate(0, 50%);*/
    width: 100%;
  }

  .content2 {
    float: right;
    width: 50vw;
    height: 25vh;
    position: relative;
  }


  .text-box-main {
    width: 15em;
  }
}


@media only screen and (min-width: 1020px) {
  body {
    position: relative;
  }

  .content-main {
    float: left;
    width: 70vw;
    height: 68.3vh;
  }

  .content1 {
    width: 30vw;
    height: 25.7vh;
    float: right;
  }

  .content2 {
    width: 30vw;
    height: 25.7vh;
    float: right;
    position: absolute;
    top: 54%;
    right: 0;
  }

}
